nav .row {
    background-color: #2C3E50;
}

nav .col-4,
nav .col-2 {
    height: 90px;
    border: 1px solid black;
}

.bg1 {
    background-color: #1ABC9C;
}

.bg3 {
    background-color: #3A546D;
}

.start-content {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bg2 h2,
.bg1 h3 {
    text-align: center;
}

.square {
    height: 100px;
    background-color: red;
}

footer .bg3 {
    text-align: center;
}